<div style='padding: 1%;'>
    <h1>Aramex</h1>
    <hr/>
    <h4>Pickup location: {{shipment.pickup_location}}</h4>
    <h4>Distanation: {{shipment.delivery_location}}</h4>
    <h4>Weight: {{shipment.weight}}</h4>
    <h4>Dimensions: {{shipment.width}} * {{shipment.width}} * {{shipment.width}}</h4>
    <h4>Date Picked: {{shipment.date_picked}}</h4>
    <h4>Value worth: {{shipment.value_worth}}</h4>
    <h4>Delivery charges: {{shipment.charges}}</h4>
    <br>
    <br>
    <h4>Recipient: <br>{{shipment.recipient}}</h4>
</div>